<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="aComment">
  
  
  
  
  <select id="aCommentList" parameterType="int" resultType="aCommentDto">
  
  SELECT *
  FROM ADOPTCOMMENT
  WEHRE ANO = #{aNo}
  
  
  
  </select>
  
  
  
  </mapper>