<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="adopt">
  	
   <resultMap type="adoptDto" id="adoptMap"> <!-- 아까 정해준 별칭 boardDto  -->
     <result property="aNo" column="ANO"/>
     <result property="aMNo" column="AMNO"/>
     <result property="aArea" column="AAREA"/>
     <result property="aType" column="ATYPE"/>
     <result property="aTitle" column="ATITLE"/>
     <result property="aDate" column="ADATE"/>
     <result property="aCount" column="ACOUNT"/>
     <result property="anmName" column="ANMNAME"/>
     <result property="anmAge" column="ANMAGE" />
     <result property="anmBreed" column="ANMBREED"/>
     <result property="anmGender" column="ANMGENDER"/>
     <result property="anmVcnYn" column="ANMVCNYN"/>
     <result property="anmNtrYn" column="ANMNTRYN"/>
     <result property="aPhone" column="APHONE"/>
     <result property="aMemo" column="AMEMO"/>
    <result property="aImg" column="AIMG" />
    <result property="aThumbImg" column="ATHUMBIMG"/> 

	
	
     </resultMap>
     
     

     <!-- 전체 입양공고 리스트  -->
     
     <select id="adoptList" resultType="adoptDto" parameterType="Criteria">
     
     
  	SELECT *
    FROM (SELECT ANO,AMNO,AAREA,ATYPE,ATITLE,ADATE,ACOUNT,ANMNAME,ANMAGE,
    				ANMBREED, ANMGENDER, ANMVCNYN, ANMNTRYN, APHONE, AMEMO, AIMG, ATHUMBIMG,
    				ROW_NUMBER() OVER(ORDER BY ANO DESC) AS RNUM
    	  FROM ADOPT)
  	WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
    ORDER BY ANO DESC	

     
     </select>
     
     
     <!--조회수(ACOUNT 관련  -->
     
     <update id="viewCount">
     
     	UPDATE ADOPT
     	SET ACOUNT = ACOUNT +1
     	WHERE ANO = #{ANO}
     
     
     </update>
     
     <!--  전체 입양공고 디테일(상세)  -->
     
    <select id="adoptDetail" parameterType="adoptDto" resultType="adoptDto">
  
  	SELECT *
  	FROM ADOPT
  	WHERE ANO = #{aNo}
  
  </select>
  
    	
    	
   <!--  나의 입양공고 전체리스트업 -->
   
  	<select id="myAdoptList" parameterType="int" resultType="adoptDto" >
  	
  	SELECT *
  	FROM ADOPT
  	WHERE AMNO = #{mNo}
  	
  	</select>
  
  <!--  나의 입양공고 상세보기  -->
  
   <select id="myAdoptDetail" parameterType="adoptDto" resultType="adoptDto">
   
    SELECT ANO, AMNO, AAREA, ATYPE, ATITLE, ADATE, ACOUNT, ANMNAME, ANMAGE, ANMBREED, ANMGENDER, ANMVCNYN, ANMNTRYN, APHONE, AMEMO
  	FROM ADOPT
  	WHERE ANO = #{aNo}
  	
   </select>
  
  
  
  <!--  나의 입양공고 작성하기  -->
  
  <insert id="myadoptWrite" parameterType="adoptDto">
  	
  	INSERT INTO ADOPT
  	VALUES(ANO.NEXTVAL, #{aMNo}, #{aArea}, #{aType}, #{aTitle}, SYSDATE, 0,#{anmName}, #{anmAge}, #{anmBreed},
  	#{anmGender}, #{anmVcnYn}, #{anmNtrYn}, #{aPhone}, #{aMemo}, #{aImg}, #{aThumbImg}  )
  	
  </insert>
  
  
  <!-- 나의 입양공고 수정  -->
  	
  	
  <update id="myAdoptUpdate"  parameterType="adoptDto">
     UPDATE ADOPT
     SET ATITLE=#{aTitle}, ANMNAME=#{anmName}, ANMBREED=#{anmBreed}, ANMAGE=#{anmAge}, APHONE=#{aPhone}, AMEMO=#{aMemo}
     WHERE ANO = #{aNo}
  
  </update>
  	
  	
  	<!-- 나의 입양공고 삭제 -->
  	
  	
  	<delete id="myAdoptDelete" parameterType="int">
  	
  	DELETE FROM ADOPT
  	WHERE ANO = #{aNo}
  	
  	</delete>
  	
  	 <!-- 관리자 입양 공고 리스트 다중 삭제-->
 	 <delete id="multiDeleteAdopt" >
 	 	DELETE FROM ADOPT
 	 	WHERE ANO = #{aNo}
 	 </delete>
  	
  
  	<!--입양공고 지역보기  -->

  
  	<select id="adoptSelect" resultType="adoptDto">
	SELECT * FROM ADOPT
	WHERE AAREA=#{aArea} AND ATYPE=#{aType}  	
  	</select>
     
     
  <!-- 페이징 처리  -->
  
  
  
  
    	<select id="adoptListCnt" resultType="int">
  	<![CDATA[
		SELECT COUNT(ANO)
		FROM ADOPT
		WHERE ANO > 0
	]]>
  	</select>
  	
  
  
  
  </mapper>