<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="cart">
  	
  	
  	
  	<insert id="addCart">
  	
  	INSERT INTO CART VALUES(
  	
  	CARTNO.NEXTVAL, #{mNo}, #{gNo}, #{cartStock}, SYSDATE
  	
  	
  	)
  	
  	</insert>
  	
  	
  	
  				 	 
	<select id="cartList" resultType="cartListDto">
			 select
			     row_number() over(order by c.cartNO desc) as num,
			     c.CARTNO, c.MNO, c.gNO, c.CARTSTOCK, c.CARTDATE,
			     g.gNAME, g.gPRICE, g.gImg
			 from cart c
			     inner join goods g
			         on c.gNo = g.gNo   
			     where c.mNo = #{mNo}
	</select>
	
	
	<!-- 카트 삭제  -->
	
	
	<delete id="deleteCart">
		delete cart
		where cartNo = #{cartNo} and mNo = #{mNo}
		
	
	
	</delete>
  	
  	
  	
 </mapper>