<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="diary">
  
  	<select id="selectList" resultType="diaryDto">
  		SELECT DNO, MNO, DCONTENT, DDATE, TO_CHAR(DDATE, 'YYYY-MM-DD HH24:MI') AS ddateToChar, MNICK
		FROM DIARY JOIN MEMBER USING(MNO)
		ORDER BY DDATE DESC
  	</select>
  
  
  
  
  
  
  </mapper>