<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

       <mapper namespace="member">
    
     <resultMap type="memberDto" id="memberMap"> <!-- 아까 정해준 별칭 boardDto  -->
     <result property="mNo" column="MNO"/>
     <result property="mRole" column="MROLE"/>
     <result property="mJoinYn" column="MJOINYN" />
     <result property="mId" column="MID"/>
     <result property="mPw" column="MPW"/>
     <result property="mEmail" column="MEMAIL"/>
     <result property="mArrd1" column="MADDR1"/>
     <result property="mArrd2" column="MADDR2"/>
     <result property="mArrd3" column="MADDR3"/>
     <result property="mName" column="MNAME"/>
     <result property="mNick" column="MNICK" />     
     <result property="mPhone" column="MPHONE"/>
     <result property="sBisNum" column="SBISNUM" />
     <result property="sSellNum" column="SSELLNUM" />
        
  	</resultMap>
    
   
  

   <select id="login" parameterType="memberDto" resultType="memberDto">
  
  	SELECT MNO, MROLE, MJOINYN, MID, MPW, MEMAIL, MADDR1, MADDR2, MADDR3, MNAME, MNICK, MPHONE, SBISNUM, SSELLNUM
  	FROM MEMBER
  	WHERE MID = #{mId}
  	AND MPW = #{mPw} AND MJOINYN = 'Y'
  
  </select>
  
  
  	<insert id="signUp" parameterType="memberDto">
  	
  	
  	INSERT INTO MEMBER
  	VALUES(MNO.NEXTVAL, #{mRole}, #{mJoinYn}, #{mId}, #{mPw}, #{mEmail}, #{mAddr1}, #{mAddr2}, #{mAddr3},#{mName},#{mNick}, #{mPhone}, NULL,NULL )
  	
  	
  	</insert>
  	
  	
  	<insert id="signUpSmember" parameterType="memberDto">
  	
  	
  	INSERT
  	INTO MEMBER
  	VALUES(MNO.NEXTVAL, #{mRole}, #{mJoinYn}, #{mId}, #{mPw}, #{mEmail}, #{mAddr1}, #{mAddr2}, #{mAddr3},#{mName},#{mNick}, #{mPhone}, #{sBisNum},#{sSellNum} )
  	
  	
  	</insert>
  
  
  
  
  	<select id="idChk" resultType="int">
  	
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MID = #{mId}
  	
  	
  	</select>
  	
  	
  	
  	
  	<select id="pwChk" resultType="int">
  	
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MPW = #{mPw} AND MID = #{mId}
  	
  	
  	
  	</select>
  	
  	<update id="memberUpdate" parameterType="memberDto">
  	
  	UPDATE MEMBER SET MNICK = #{mNick}, MPHONE = #{mPhone}, MADDR1 = #{mAddr1}, MADDR2 = #{mAddr2}, MADDR3 = #{mAddr3}
  	WHERE MNO = #{mNo}
  	
  	
  	</update>
  	
  	
  	<select id="userList" resultType="memberDto">
  	SELECT * FROM MEMBER
  	</select>
  	
  	<select id="memberList" resultType="memberDto">
  	SELECT * FROM MEMBER
  	</select>
  	
  	<select id="iMemberList" resultType="memberDto">
  	SELECT * FROM MEMBER
  	WHERE MROLE = '1'
  	</select>
  	
  	<select id="sMemberList" resultType="memberDto">
  	SELECT * FROM MEMBER
  	WHERE MROLE = '2'
  	</select>
  	
  	<select id="qMemberList" resultType="memberDto">
  	SELECT * FROM MEMBER
  	WHERE MJOINYN = 'N'
  	</select>
  	
  	
  	
  	
  	<!-- 회원탈퇴 -->
  	<update id="memberDelete" >
  	
  	UPDATE MEMBER SET MJOINYN = 'N' 
  	WHERE MID = #{mId}
  	</update>
  	
  	
  	<select id="selectOneMember" parameterType="int" resultType="memberDto">
	  	SELECT * FROM MEMBER
	  	WHERE MNO = #{mNo}
  	</select>
   
   <!-- 비밀번호 변경 -->
	<update id="updatemPw" parameterType="memberDto">
		UPDATE MEMBER SET PW = #{mPw} WHERE ID = #{mId}
	</update>
    
   <select id="idCheck" resultType="int">
   		SELECT COUNT(*) FROM MEMBER
   		WHERE MID = #{mId}
   </select>
   
   
  
  
  
    </mapper>
    
    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    

    
  