<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
    <mapper namespace="member">
    
     <resultMap type="memberDto" id="memberMap"> <!-- 아까 정해준 별칭 boardDto  -->
     <result property="mNo" column="MNO"/>
     <result property="mRole" column="MROLE"/>
     <result property="mJoinYn" column="MJOINYN" />
     <result property="mId" column="MID"/>
     <result property="mPw" column="MPW"/>
     <result property="mArrd1" column="MADDR1"/>
     <result property="mArrd2" column="MADDR2"/>
     <result property="mArrd3" column="MADDR3"/>
     <result property="mName" column="MNAME"/>
     <result property="mNick" column="MNICK" />     
     <result property="mPhone" column="MPHONE"/>     
  	</resultMap>
    
    

   <select id="login" parameterType="memberDto" resultType="memberDto">
  
  	SELECT MNO, MROLE, MJOINYN, MID, MPW, MADDR1, MADDR2, MADDR3, MNAME, MNICK, MPHONE
  	FROM MEMBER
  	WHERE MID = #{mId}
  	AND MPW = #{mPw}
  
  </select>
  
  
  	<insert id="signUp" parameterType="memberDto">
  	
  	
  	INSERT INTO MEMBER
  	VALUES(MNO.NEXTVAL, #{mRole}, #{mJoinYn}, #{mId}, #{mPw},#{mAddr1}, #{mAddr2}, #{mAddr3},#{mName},#{mNick}, #{mPhone} )
  	
  	
  	</insert>
  

  
  
  
  
    </mapper>
  