<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="qnaBoardAdmin">
  
  	<!-- 글 목록 조회 시 사용하는 쿼리 -->
  	<select id="selectList" resultType="qnaBoardAdminDto" parameterType="com.anif.mvc.common.pagination.Criteria">
		SELECT *
		FROM (
			SELECT QNO, QGROUPNO, QGROUPSQ, QTITLETAB, QCTGY, QTITLE, MNO,
				TO_CHAR(QDATE, 'YYYY-MM-DD HH24:MI') AS qdateToChar, MNICK,
				ROW_NUMBER() OVER(ORDER BY QNO DESC) AS RNUM
			FROM QUESTIONBOARD JOIN MEMBER USING(MNO)) QB
			WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY QGROUPNO DESC, QGROUPSQ ASC
  	</select> 
  	
  	<!-- 글 목록 조회 시 전체 글 갯수를 조회하여 페이징에 사용하는 쿼리 -->
  	<select id="listCount" resultType="int">
  	<![CDATA[
		SELECT COUNT(QNO)
		FROM QUESTIONBOARD
		WHERE QNO > 0
	]]>
  	</select>
  
  	<!-- 글 상세 조회 시 사용하는 쿼리 -->
  	<select id="selectOne" parameterType="int" resultType="qnaBoardAdminDto">
  		SELECT QNO, QGROUPNO, QGROUPSQ, QTITLETAB, QCTGY, QTITLE, QCONTENT, MNO, 
  				TO_CHAR(QDATE, 'YYYY-MM-DD HH24:MI:SS') AS qdateToChar, MNICK
  		FROM QUESTIONBOARD
  		JOIN MEMBER USING(MNO)
  		WHERE QNO=#{qno}
  	</select>
  	
  	<update id="update" parameterType="qnaBoardAdminDto">
		UPDATE QUESTIONBOARD
		SET QTITLE = #{qtitle}, QCONTENT = #{qcontent}
		WHERE QNO = #{qno}
	</update>


  	<delete id="delete" parameterType="int">
  		DELETE FROM QUESTIONBOARD
  		WHERE QNO = #{qno}
  	</delete>
  
  
  

	<!-- 글쓰기 시 사용하는 insert 쿼리 -->  	
  	<insert id="insert" parameterType="qnaBoardAdminDto">
  		INSERT INTO QUESTIONBOARD
  		VALUES (QNOSEQ.NEXTVAL, QGROUPNOSEQ.NEXTVAL, 1, 0, #{qctgy}, #{qtitle}, #{qcontent}, #{mno}, SYSDATE)
  	</insert>
  	
  	<!-- 답변 글 작성 시 사용하는 insert 쿼리 -->
  	<insert id="insertAnswer" parameterType="qnaBoardAdminDto">
  		INSERT INTO QUESTIONBOARD
  		VALUES (QNOSEQ.NEXTVAL, 
  				(SELECT QGROUPNO FROM QUESTIONBOARD WHERE QNO=#{qno}), 
  				(SELECT QGROUPSQ FROM QUESTIONBOARD WHERE QNO=#{qno})+1, 
  				(SELECT QTITLETAB FROM QUESTIONBOARD WHERE QNO=#{qno})+1, 
  				#{qctgy}, 
  				#{qtitle}, 
  				#{qcontent}, 
  				#{mno}, 
  				SYSDATE)
  	</insert>
  
  
  
  
  
  
  
  
  </mapper>
  