<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="qnaBoard">
  
  	<select id="selectList" resultType="qnaBoardDto">
  		SELECT QNO, QGROUPNO, QGROUPSQ, QTITLETAB, QCTGY, QTITLE, MNO, TO_CHAR(QDATE, 'yyyy-mm-dd hh:mm') AS qdateToChar
		FROM QUESTIONBOARD
		ORDER BY QGROUPNO DESC, QGROUPSQ ASC
  	</select>
  
  	<select id="selectOne" parameterType="int" resultType="qnaBoardDto">
  		SELECT QNO, QGROUPNO, QGROUPSQ, QTITLETAB, QCTGY, QTITLE, QCONTENT, MNO, TO_CHAR(QDATE, 'yyyy-mm-dd hh:mm:ss') AS qdateToChar
  		FROM QUESTIONBOARD
  		WHERE QNO=#{qno}
  	</select>
  
  	<delete id="delete" parameterType="int">
  		DELETE FROM QUESTIONBOARD
  		WHERE QNO = #{qno}
  	</delete>
  	
  	
  
  
  
  </mapper>