<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
		
		
		
		<!-- dbproperties 읽어 오기  -->
		
		
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
			<list>
				<value>classpath:mybatis/db.properties</value>			
			</list>

			</property>
			
			
		</bean>
		
		
		
		<!-- dataSource -->
		
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		
		</bean>
		
		
		
		<!-- mybatis -->
		
		<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="configLocation" value="WEB-INF/spring/sqls/config.xml" />
			
		
		
		</bean>
		
		
		
		<!-- mybatis-template -->
		
		
		
		<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
			
			<constructor-arg ref="sqlSession"/>
		
		</bean>
</beans>
