<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
  
  	<typeAliases>
  	<typeAlias type="com.anif.mvc.member.dto.MemberDto" alias="memberDto" />
  	<typeAlias type="com.anif.mvc.adopt.dto.AdoptDto" alias="adoptDto"/>
  	<typeAlias type="com.anif.mvc.qnaBoard.dto.QnaBoardDto" alias="qnaBoardDto" />
  	</typeAliases>
  	
  	
  	
  	<!-- 프로퍼티즈 에서 디벨로먼트 어셈블리 가면 경로가 잡혀있는걸 확인 할 수있디ㅏ. -->
  	<mappers>
  		<mapper resource="/mybatis/member-mapper.xml"/>
  		<mapper resource="/mybatis/adopt-mapper.xml"/>
  		<mapper resource="/mybatis/qnaBoard-mapper.xml"/>
  		
  	</mappers>
  
  </configuration>
  
