<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
  
  	<typeAliases>
  	<typeAlias type="com.anif.mvc.dto.MemberDto" alias="memberDto" />
  	
  	</typeAliases>
  	
  	
  	<!-- 프로퍼티즈 에서 디벨로먼트 어셈블리 가면 경로가 잡혀있는걸 확인 할 수있다. -->
  	<mappers>
  		<mapper resource="/mybatis/member-mapper.xml"/>
  	
  	</mappers>
  
  </configuration>